{% if post in app.user.getLikedPosts %}
{% set userLikesPost = 'userLikesPost' %}
{% elseif post in app.user.getDislikedPosts %}
{% set userDoesNotLikePost = 'userDoesNotLikePost' %}
{% else %}
{% set noActionYet = 'noActionYet' %}
{% endif %}

<button data-toggle="tooltip" data-placement="top" title="Click to like the post" type="button" class="btn btn-primary btn-outline-info btn-sm ml-1 post-id-{{post.id}}  click-to-like-post {{noActionYet|default(null)}}">
    <i  href="{{path('like_post',{'post':post.id})}}" class="fa fa-thumbs-up toogle-likes"></i>
</button>

<button data-toggle="tooltip" data-placement="top" title="You like the post. Click to unlike" type="button" class="btn btn-primary btn-outline-info btn-sm mr-2 ml-1 likes-post-id-{{post.id}} click-to-unlike-post {{userLikesPost|default(null)}}">
    <i href="{{path('undo_like_post',{'post':post.id})}}" class="fa fa-thumbs-up toogle-likes"></i>
</button>

<button data-toggle="tooltip" data-placement="top" title="Click to dislike the post" type="button" class="btn btn-primary btn-outline-danger btn-sm ml-1 mr-1 post-id-{{post.id}}  click-to-dislike-post {{noActionYet|default(null)}}">
    <i href="{{path('dislike_post',{'post':post.id})}}" class="fa fa-thumbs-down toogle-likes"></i>
</button>

<button data-toggle="tooltip" data-placement="top" title="You don't like the post. Click to undo" type="button" class="btn btn-primary btn-outline-danger btn-sm mr-2 ml-1 dislikes-post-id-{{post.id}} click-to-undo-dislike-post {{userDoesNotLikePost|default(null)}}">
   <i href="{{path('undo_dislike_post',{'post':post.id})}}" class="fa fa-thumbs-down toogle-likes"></i>
</button>

