        <div class="col-md-8">
            {% for post in posts %}
                
				<div class="card">
					<div class="card-header"><h4><h3>{{post.getTitle()}}</h3></h4></div>
					<div class="card-body">
                    <img src="{{post.getPhoto()}}"  class="img-fluid" alt="Responsive image">
						<p class="p-2">{{post.getbody()}} <a href="{{path('post_details',{'post':post.id})}}">...readMore</a> </p>
                        {# {{path('post_details')}} #}
					</div>
                    <span class="card-header">Posted ON: {{post.createdAt().format('Y-m-d')}}

                    <div class="btn-group">
                            <i class="fa fa-thumbs-up text-info ml-2"><small class="text-info ml-1 number-of-likes-{{post.id}}">({{post.usersThatLike.count}})</small></i>&nbsp;
                            <i class="fa fa-thumbs-down text-danger"><small class="text-danger  ml-1 mr-2 number-of-dislikes-{{post.id}}">({{post.usersThatDontLike.count}})</small></i>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                                {{ include('front/includes/_likes.html.twig', {'post' : post}) }}
                            {% endif  %}
                            <a class="ml-1" href="{{path('post_details',{'post':post.id})}}#post_comments">Comments ({{post.comments.count}})</a>
                        </div>
                    </span>
				</div>
            {% endfor %}
            {{ knp_pagination_render(posts) }}
        </div>