{% extends "base.html.twig" %}

{% block main %}

<div class="container">
	<div class="row mt-4">

		<div class="col-md-12">
			<div class="card mb-4">
				<div class="card-header">
					<h4>{{post.title}}</h4>
				</div>
				<div class="card-body">
					<img src="{{post.photo}}" class="img-fluid mx-auto d-block" alt="Responsive image">
					<p class="p-2">{{post.body}}</p>
				</div>
                <span class="card-header">Posted ON: {{post.createdAt().format('Y-m-d')}}
			</div>
		</div>
	</div>
	<div class="row m-2">
    <a id="post_comments"></a>
    <div class="card bg-dark col-md-12 mb-2"><h3>Comments ({{post.comments.count}})</h3></div>

   {% for comment in post.comments %}

    <ul class="list-unstyled text-left col-md-12">
        <li class="card">
            <div class="media-body card-header bg-dark border-info">
                <h5 class="mt-0 mb-1"><b>{{comment.user.name}} {{comment.user.lastname}}</b> <small class="text-muted">added a comment <small><b>{{comment.createdat|ago}}</b></small></small></h5>
                {{comment.content}}

                 {% if app.user and app.user.id == comment.user.id %}
                <a href="{{path('delete_comment',{'comment':comment.id})}}">delete comment</a>
                {% endif %}
            </div>
        </li>
    </ul>
    <hr>

    {% endfor %}

</div>
		<div class="row">
    <div class="col-md-12">
        <form method="POST" action="{{path ('new_comment',{'post':post.id})}}#post_comments">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Add a comment</label>
                <textarea name="comment" required class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>

        </form>
    </div>
</div>
	</div>
{% endblock %}

