{% extends "base.html.twig" %}

{% block main %}

{% block stylesheets %}
{{parent()}}
{% if app.user %}
<link rel="stylesheet" href="{{asset('assets/css/likes.css')}}">
{% endif %}
{% endblock %}

<div class="container">
	<div class="row mt-4">

		<div class="col-md-12">
			<div class="card mb-4">
				<div class="card-header">
					<h4>{{post.title}}</h4>
				</div>
				<div class="card-body">
					<img src="{{post.photo}}" class="img-fluid mx-auto d-block" alt="Responsive image">
					<p class="p-2">{{post.body}}</p>
				</div>



                
                <span class="card-header bg-dark border-info">Posted ON: {{post.createdAt().format('Y-m-d')}}

                    <div class="btn-group">
                            <div>
                                <span class="text-info mr-2 ml-2"> Likes: <small class="text-info ml-1 number-of-likes-{{post.id}}"> ({{post.usersThatLike.count}})</small></span>
                              <span class="text-danger mr-2">  Dislikes: <small class="text-danger  ml-1 mr-2 number-of-dislikes-{{post.id}}">  ({{post.usersThatDontLike.count}})</small></span>
                            </div>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                                {{ include('front/includes/_likes.html.twig', {'post' : post}) }}
                            {% endif  %}
                            <a class="ml-1" href="{{path('post_details',{'post':post.id})}}#post_comments">Comments ({{post.comments.count}})</a>
                        </div>
                    </span>



			</div>
		</div>
	</div>
	<div class="row m-2">
    <a id="post_comments"></a>
    <div class="card bg-dark col-md-12 mb-2"><h3>Comments ({{post.comments.count}})</h3></div>

   {% for comment in post.comments %}

    <ul class="list-unstyled text-left col-md-12">
        <li class="card">
            <div class="media-body card-header bg-dark border-info">
                <h5 class="mt-0 mb-1"><b>{{comment.user.name}} {{comment.user.lastname}}</b> <small class="text-muted">added a comment <small><b>{{comment.createdat|ago}}</b></small></small></h5>
                {{comment.content}}

                 {% if app.user and app.user.id == comment.user.id %}
                <a href="{{path('delete_comment',{'comment':comment.id})}}">delete comment</a>
                {% endif %}
            </div>
        </li>
    </ul>
    <hr>

    {% endfor %}

</div>
		<div class="row">
    <div class="col-md-12">
        <form method="POST" action="{{path ('new_comment',{'post':post.id})}}#post_comments">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Add a comment</label>
                <textarea name="comment" required class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>

        </form>
    </div>
</div>
	</div>
{% endblock %}

